body {
    margin: auto;
}

.chessboard {
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
    display: inline-block;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: arial;
    color: green;
}

.green {
    width: 100px;
    height: 100px;
    background-color: #769656;
    border: 2px solid black;
    float: left;
    margin: auto;
    padding: auto;
}

.white {
    width: 100px;
    height: 100px;
    background-color: #eeeed2;
    border: 2px solid black;
    float: left;
    margin: auto;
    padding: auto;
}

.clear {
    clear: both;
}